/* ------ */
/* PRESET */
/* ------ */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Figtree", sans-serif;
}

.container {
  width: 1200px;
  margin: 50px auto;
}

/* -------- */
/* SECTIONS */
/* -------- */

.publications {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* CARD COMPONENT */

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 5px 0 #000;
}

.card__mb {
  margin-bottom: 45px;
}

.card__image {
  border-radius: 10px;
  margin-bottom: 25px;
}

.card__list {
  list-style: none;
  margin-bottom: 15px;
}

.card__list-item {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  background-color: #fce955;
  padding: 4px 8px;
  border-radius: 3px;
}

.card__date {
  font-size: 14px;
  margin-bottom: 15px;
}

.card__heading {
  font-weight: 700;
  margin-bottom: 20px;
}

.card__description {
  font-weight: 300;
  color: #7c7c7c;
  margin-bottom: 25px;
}

.card__author {
  display: flex;
  align-items: center;
}

.card__author-img {
  width: 35px;
  height: auto;
  margin-right: 10px;
}

.card__author-name {
  font-size: 14px;
}
